{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Aura Moda{% endblock title %}

{% block main %}

<section class="main-home">
    <div class="main-text">
        <h5>Coleção Inverno</h5>
        <h1>Nova Coleção <br> Inverno 2024</h1>
        <p>Não há nada como essa tendência</p>

        <a href="{% url "produtos" %}" class="main-btn">Compre Agora <i class='bx bx-right-arrow-alt' ></i></a>
    </div>

    <div class="down-arrow">
        <a href="#trending" class="down"><i class='bx bx-down-arrow-alt' ></i></a>
    </div>
</section>

<!-- Trending-Products  -->
<section class="trending-product" id="trending">
    <div class="center-text">
        <h2>Nossos <span>Produtos</span> Populares</h2>
    </div>

    
    
    <div class="products">
        {% for produto in produtos %}
        <div class="row">
            <img src="{{ produto.imagem.url }}" alt="{{produto.nome}}">
            <div class="product-text">
                <h5>{{produto.categoria}}</h5>
            </div>
            <div class="heart-icon">
                <i class='bx bx-heart' ></i>
            </div>
            <div class="price">
                <a href="{% url "detalhes" produto.id %}"><h4>{{produto.nome}}</h4></a>
                <p>{{produto.preco}}</p>
            </div>
        </div>

        {% endfor %}


    </div>
    

</section>



{% endblock main %}
